* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #FFFFFF0D;
    width: 665.41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    margin: 30px;
    padding: 10px 15px;
    border-radius: 100px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 19.12px;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    gap: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 108px;
    background-color: #363535;
    color: #FFFFFF;
    border-radius: 50px;
    height: 35px;
    border: none;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 665.41px;
    margin-top: 30px;
}
.hero-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.text-content h1 {
    text-align: center;
    color: #FFFFFF;
    line-height: 70.41px;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: -2%;
}
.text-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.text-content p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    width: 547px;
    line-height: 19.12px;
}
.get {
    position: relative;
}
.hero-top input {
    border-radius: 40px;
    padding: 10px 10px 10px 30px;
    border: none;
    position: relative;
    width: 447px;
    background-color: #363535;
    height: 55px;
}
.hero-top button {
    background-color: #5025FA;
    position: absolute;
    top: 8px;
    bottom: 0;
    right: 7px;   
    padding: 0 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.hero-bottom {
    width: 100%;
    margin-top: 80px;
}
.function {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 159px;
    height: 115px;
    padding: 25px;
    gap: 12px;
    border-radius: 20px;
    opacity: 0px;
   color: #FFFFFF;
    background-color: #FFFFFF0D;
}

.video-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    padding: 20px;
}
.video {
    width: 60%;
    width: 1040px;
    height: 598.81px;
    border-radius: 32px;
    border: 0.5px;
}
.video img {
    width: 100%;
    height: 100%;
}

.testimonial {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}
.test-cont {
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.row {
    display: flex;
    gap: 40px;
}
.test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.test p {
    width: 305px;
    height: 100px;
    color: #FFFFFF;
    font-weight: 400;
}

.award {
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.award-cont {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.award .body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100%;
}
.award .title {
    margin-bottom: 40px;
}
.award .title h2 {
    line-height: 57.37px;
    font-size: 42px;
    font-weight: 500;
}
.award .txt h3 {
    line-height: 32.78px;
    font-weight: 500;
    font-size: 24px;
}
.award .txt p {
    line-height: 19.12px;
    font-weight: 400;
    font-size: 12px;
    width: 495px;
    height: 57px;
}
.award .info .btn {
    background: #FFFFFF1A;
    border-radius: 50px;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.award2 .award-cont {
    border-radius: 32px;
    border: 1px solid #FFFFFF1A;
}
.award.award2 .body {
    flex-direction: row-reverse; 
    padding: 0 20px;
}

/* Template Section */
.template {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0;
}
.temp-cont {
    width: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    padding: 30px 0;
}
.title h3 {
    color: #FFFFFF;
    font-size: 42px;
    font-weight: 500;
}
.temp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0;
}
.temp img {
    width: 100%;
    height: 70%;
}
.temp .wide {
    width: 100%;
    height: 30%;
}
.temp .wide {
    border-radius: 0;
    background-color: #0B0B0B;
    color: #FFFFFF;
    font-weight: 400;
    padding: 20px;
    font-size: 14px;
}
.temp-cont .row {
    gap: 50px;
}